DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=dataset_name
DB_SSL_CA=/certs/global-bundle.pem

DB_MAX_OPEN_CONNS=30
DB_MAX_IDLE_CONNS=30
DB_CONN_MAX_LIFETIME_MIN=10

DATA_DIR=./data
BATCH_SIZE=1000
CHUNK_SIZE=5000
WRITER_WORKERS=2
HTTP_TIMEOUT_SEC=120
HTTP_MAX_RETRIES=5
LOG_JSON=false
