# Radar do Povo ETL - https://radardopovo.com

# --- PostgreSQL AWS RDS ---
DB_HOST=exemple.cv2iu4y4oqkv.us-east-2.rds.amazonaws.com
DB_PORT=5432
DB_USER=teuimposto
DB_PASS=TROQUE_AQUI
DB_NAME=bolsa_familia_transparencia
DB_SSL_CA=/certs/global-bundle.pem

# --- Pool de conexoes (RDS pequena: maximo 2 sessoes) ---
DB_MAX_OPEN_CONNS=2
DB_MAX_IDLE_CONNS=2
DB_CONN_MAX_LIFETIME_MIN=10

# --- ETL Novo Bolsa Familia ---
DATA_DIR=./data
BATCH_SIZE=2000
CHUNK_SIZE=10000
WRITER_WORKERS=2
HTTP_TIMEOUT_SEC=120
HTTP_MAX_RETRIES=5
LOG_JSON=false
